@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400&display=swap');

:root{
    --primary-Sutra-Color: #0B2E5D;
    --secdondary-Sutra-Color: #606062;
}

body{
    background-color: var(--primary-Sutra-Color);
    font-family: 'Montserrat', sans-serif;
}

em{
    font-weight: bold;
}

footer{
    background-color: var(--primary-Sutra-Color);
    border-top: 1.5em solid var(--secdondary-Sutra-Color);
}

a>img{
    width: 2em;
    height: 2em;
}

.bg-header{
    background: url(../img/BG.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-SAuto{
    background: url(../img/versa-1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.bg-white{
    width: 100%;
    background: whitesmoke;
}

.card{
    box-shadow: 5px 5px 10px;
}

.card div{
    display: flex;
    justify-content: space-evenly;
}

.card div > img{
    width: 30%;
    border-radius: 1em;
}

.card div > ul{
    align-self: center;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.icon-sm{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.card-news{
    display: block;
}

#SSP img{
    height: 300px;
}

/*Media Queries Responsive*/

@media only screen and (max-width: 767px) {
    article{
        padding: 5px !important;
        margin: 0px !important;
    }

    .w-75,.w-50{
        width: 100% !important;
    }

    .m-auto{
        margin: 0 !important;
    }

    .bg-header{
        background: url(../img/Caseta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header > div {
        padding: 5px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    header div section{
        line-height: 0.95;
    }

    div iframe{
        width: 80%;
        height: 150px;
    }

    footer{
        flex-wrap: wrap;
    }

    .card div > img{
        width: 100%;
    }

    .vr{
        display: none !important;
    }

    #SSP img{
        height: 100px;
    }
}

