@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400&display=swap');

:root{
    --primary-Sutra-Color: #0B2E5D;
    --secdondary-Sutra-Color: #606062;
}

body{
    background-color: var(--primary-Sutra-Color);
    font-family: 'Montserrat', sans-serif;
}

em{
    font-weight: bold;
}

footer{
    background-color: var(--primary-Sutra-Color);
    border-top: 1.5em solid var(--secdondary-Sutra-Color);
}

a>img{
    width: 2em;
    height: 2em;
}

.bg-header{
    background: url(../img/BG.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-SAuto{
    background: url(../img/versa-1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.bg-white{
    width: 100%;
    background: whitesmoke;
}

.card{
    background: var(--secdondary-Sutra-Color);
    color: whitesmoke;
    box-shadow: 5px 5px 10px;
}

.card h4{
    border-top: 5px solid var(--primary-Sutra-Color);
    padding-top: 15px;
}

.card div{
    display: flex;
    justify-content: space-evenly;
}

.card div > img{
    width: 30%;
    border-radius: 1em;
}

.card div > ul{
    align-self: center;
}

.card div ul > li:hover{
    font-weight: bold;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.icon-sm{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.card-news{
    display: block;
}

.btn-flotante {
	font-size: 25px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 50%; /* Borde del boton */
	background-color: #00e676; /* Color de fondo */
	padding: 10px 18px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #007c40; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

#SSP img{
    height: 300px;
}

/*Media Queries Responsive*/

@media only screen and (max-width: 767px) {
    article{
        padding: 5px !important;
        margin: 0px !important;
    }

    .w-75,.w-50{
        width: 100% !important;
    }

    .m-auto{
        margin: 0 !important;
    }

    .bg-header{
        background: url(../img/SutraLogo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header > div {
        padding: 5px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    header div section{
        line-height: 0.95;
    }

    div iframe{
        width: 80%;
        height: 150px;
    }

    footer{
        flex-wrap: wrap;
    }

    .card div > img{
        width: 100%;
    }

    .vr{
        display: none !important;
    }

    .btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}

    #SSP img{
        height: 100px;
    }
}

